.features .glyphicon {
    font-size: 32px;
}

body {
    /* Include Google font */
    font-family: 'Open Sans', sans-serif;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 960px;
}

.site-header, .site-footer {
    flex: none;
}

/* To solve the Sticky Footer responsive problem, see
    - https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    - http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3/23833625#23833625
*/
.site-footer {
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

.site-content {
    flex: 1 0 auto; /* 2 */
}

.lead {
    color: #555555;
}

.btn-lg {
    padding: 14px 20px;
}